/* Custom styles for your documentation site */

/* Fix <Icon> rendering in headers */
h1 > span.cursor-pointer > svg.icon.inline,
h2 > span.cursor-pointer > svg.icon.inline,
h3 > span.cursor-pointer > svg.icon.inline {
    padding-right: 8px;
    vertical-align: top !important;
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
    width: 8px;
}

    ::-webkit-scrollbar:horizontal {
        height: 8px;
    }

::-webkit-scrollbar-track {
    background: #0A1628;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #3CD0E2, #419AC5);
    border-radius: 6px;
}

    ::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(180deg, #419AC5, #3CD0E2);
    }

/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}

/* Animation keyframes */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

code, kbd, pre, samp {
    font-family: "Cascadia Code",var(--font-jetbrains-mono),ui-monospace,SFMono-Regular,Menlo,Monaco,"Liberation Mono","Courier New",monospace;
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-size: 1em;
    line-height: 1.5em;
}